html,body{
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    background-image: url("./../blog/ExampleImgServer/Vector Forest.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.upload {
    position: absolute;
    top: 50%;
    left: 1em;
    transform: translate(0, -50%);
    width: 200px;
    height: 270px;
    background-color: #fff;
    border-radius: 6px;
    border-color: rgba(0,0,0,0);
    color: #0D4661;
    font-size: 80px;
}